.about {
    padding: 1rem;
    display: block;
    background-color:burlywood;
    margin: 1%;
    height: 99%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding-bottom: 10rem;
}

.about-types {
    background-color: goldenrod;
    padding: 1rem;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
}